@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --bg-main: #dedede;
  --bg-like: #f7f7f7;
  --bg-tag: #dce1fc;

  --b-like: #e5e5e5;
  --text-sec: #9c9c9c;
  --sw-card: 0px 1px 5px 0px rgba(0, 0, 0, 0.24);

  --size-img: 55px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--bg-main);
}
.cards {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
  align-items: flex-start;
}

.card {
  height: 400px;
  width: 370px;
  background-color: white;
  border-radius: 30px;
  box-shadow: var(--sw-card);
  -webkit-box-shadow: var(--sw-card);
  -moz-box-shadow: var(--sw-card);
  padding: 15px 18px;
}
.stats {
  height: 440px;
}

.offer {
  height: auto;
}
.offer .profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.offer .profile img {
  height: var(--size-img);
  width: var(--size-img);
  border-radius: 50%;
}
.offer .profile .info-profile {
  padding: 0 15px;
}

.offer .profile .info-profile h2 {
  font-size: 17px;
  font-weight: 500;
}
.offer .profile .info-profile p {
  font-size: 13px;
  padding-top: 4px;
  color: var(--text-sec);
}
.offer .profile .like {
  background-color: var(--bg-like);
  padding: 10px 10px 7px;
  font-size: 17px;
  border-radius: 7px;
  border: 1px solid var(--b-like);
  position: absolute;
  right: 0;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.21);
}
.offer .profile .like:hover {
  cursor: pointer;
}

.offer .detail {
  padding: 20px 0;
  border-bottom: 2px dashed var(--b-like);
}

.offer .detail h3 {
  font-size: 20px;
  font-weight: 500;
}
.offer .detail p {
  font-size: 15px;
  color: var(--text-sec);
  padding: 8px 0 5px;
}
.offer .detail .tags {
  display: flex;
  justify-content: flex-start;
  margin: 5px 0;
}
.offer .detail .tags .tag {
  margin-right: 5px;
  background-color: var(--bg-tag);
  color: black;
  padding: 4px 8px;
  border-radius: 6px;
}

.offer .price {
  padding: 15px 0;
}

.offer .price h3 {
  font-family: "Inter", sans-serif;
  font-size: 33px;
  font-weight: 500;
}

.offer .price p {
  font-size: 13.5px;
  padding: 7px 0 9px;
  color: var(--text-sec);
}

.offer .btn-apply {
  width: 100%;
  height: 65px;
  border-radius: 15px;
  font-size: 20px;
  background-image: linear-gradient(
    to right bottom,
    #3079f7,
    #3172f8,
    #366af8,
    #3d61f7,
    #4558f6
  );
  color: white;
  border: none;
}
.offer .btn-apply:hover {
  cursor: pointer;
}
